@font-face {
    font-family: 'Monserrat';
    src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Monserrat';
    src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
