* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monserrat, sans-serif;
  font-weight: 600;
  -webkit-user-select: none;
}
ul {
  list-style: none;
}
header, nav, section, article, aside, footer {
   display:block;
}
.clearfix::after {
  content: ' ';
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}
