$sliderMaxWidth: 300px;
$sliderHeight: 400px;

.slider {
  position: relative;
  overflow: hidden;
  max-width: $sliderMaxWidth;
  height: $sliderHeight;
  &__wrapper {
    position: absolute;
    left: 0;
    transition: all 1s;
  }
  &__slide{
    position: relative;
    float: left;
    max-width: $sliderMaxWidth;
    height: $sliderHeight;
  }
  &__prev {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #blue;
  }
  &__next {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #blue;
  }
}
