
//variables
$small: 320px;
$medium: 768px;
$large: 940px;

$red: #ff4e50;
$black: #333333;

//Media mixin
@mixin respond-to($media) {
  @if $media == retina {
    @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
    only screen and (-moz-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-device-pixel-ratio: 1.5) { @content; }
  }
  @else if $media == tablet {
    @media (min-device-width: $small + 160) and (max-device-width: $medium) { @content; }
  }
  @else if $media == desktop {
    @media (min-device-width: $medium + 1) { @content; }
  }
  @else if $media == tab&desk {
    @media (min-device-width: $small + 160) { @content; }
  }
}

@import "../img/sprites/_sprite.scss";
@import "../img/@2x/_sprite@2x.scss";
@import "fonts";
@import "reset";
@import "slider";
@import "masonry";

//Styles

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: $small - 20;

  @include respond-to(tablet) { max-width: $medium - 20; }
  @include respond-to(desktop) { max-width: $large; }
}

//header
header {
  width: 100%;
  height: 540px;
  background-image: url('../img/logo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -405px 0;

  @include respond-to(retina) { background-image: url('../img/logo@2x.jpg') };
  @include respond-to(tab&desk) { height: 700px; }
  @include respond-to(tablet) {background-position: -337px 0;}
  @include respond-to(desktop) {background-position: -45px 0;}
}
.header {
  &__login-buttons {
    padding-top: 19px;
    font-size: 14px;
    line-height: 1.2;
    max-width: 160px;
    margin: 0 auto;
    @include respond-to(tab&desk) {
      float: right;
      padding-top: 38px;
      margin-right: 41px;
      max-width: 180px;
      width: 162px;
    }
    @include respond-to(desktop) {
      margin-right: 3px;
    }
  }
  &__login {
    color: #fff;
    float: left;
    text-decoration: none;
    padding: 10px;
  }
  &__signup {
    color: #fff;
    float: right;
    border: 2px solid #fff;
    border-radius: 25px;
    text-decoration: none;
    padding: 8px 15px 8px 15px;
  }
  &__title {
    color: #fff;
    font-size: 20px;
    margin-top: 115px;
    text-align: center;
    @include respond-to(tab&desk) {
      float: left;
      margin-top: 46px;
      margin-left: 40px;
     }
    @include respond-to(desktop) {
      margin-left: 0px;
    }
  }
  &__subtitle {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    @include respond-to(tab&desk) {
      font-size: 52px;
      margin-top: 140px;
     }
    &-second-line {
      color: #fff;
      font-family: Roboto, sans-serif;
      font-weight: 100;
      text-align: center;
      display: block;
      max-width: 240px;
      margin: 3px auto;
      @include respond-to(tab&desk) {
        font-size: 24px;
        max-width: 100%;
        margin: 22px auto 0;
       }
    }
  }
  &__findpartner {
    color: #fff;
    font-size: 14px;
    background-color: $red;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 12px auto 0;
    max-width: 92%;
    padding: 10px;
    border-radius: 25px;
    @include respond-to(tab&desk) {
      max-width: 225px;
      margin: 32px auto 0;
     }
  }
}

//how it works section
.howItWorks {
  padding-top: 34px;
  @include respond-to(tab&desk) {
    padding-top: 95px;
   }
}
.hiw {
  &__title {
    color: $black;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
    @include respond-to(tab&desk) {
      padding-bottom: 23px;
     }
  }
}

//meet a partner
.peoples {
  padding-top: 33px;
  @include respond-to(tab&desk) {
    padding-top: 96px;
   }
   .clearfix {
     @include respond-to(tablet) {
       margin: 0 auto;
       width: 65%;
       min-width: 485px;
      }
   }
  &__title {
    font-size: 21.98px;
    color: $black;
    text-align: center;
    margin-bottom: 14px;
    @include respond-to(tab&desk) {
      margin-bottom: 32px;
     }
  }
  &__portrait {
    width: 122px;
    height: 122px;
  }
  &__portrait-wrapper {
    position: relative;
    width: 122px;
    margin: 0 auto;
  }
  &__portrait-hider {
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
    height: 122px;
    width: 122px;
  }
  &__portrait-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    &.tv{
      @include sprite($sp-tv);
      @include respond-to(retina) { @include sprite($sp-tv-2x); };
    }
    &.coffee{
      @include sprite($sp-coffee);
      @include respond-to(retina) { @include sprite($sp-coffee-2x); };
    }
    &.chemistry{
      @include sprite($sp-chemistry);
      @include respond-to(retina) { @include sprite($sp-chemistry-2x); };
    }
    &.airplane{
      @include sprite($sp-airplane);
      @include respond-to(retina) { @include sprite($sp-airplane-2x); };
    }
  }
  &__name {
    font-size: 14px;
    color: $black;
    text-align: center;
    margin-top: 15px;
  }
  &__about {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #666;
    text-align: center;
    display: block;
    max-width: 230px;
    margin: 10px auto 0;
  }
  &__partner {
    margin-bottom: 25px;
    @include respond-to(tab&desk) {
      float: left;
      margin-bottom: 54px;
      margin-right: 5.3%;
     }
    @include respond-to(tablet) {
      width: 47%;
    }
    @include respond-to(desktop) {
      width: 23.5%;
      margin-right: 2%;
      margin-bottom: -2px;
    }
    &:nth-of-type(2n) {
      @include respond-to(tablet) {
        float: left;
        margin-bottom: 54px;
        margin-right: 0px;
       }
    }
    &:nth-of-type(n+2) {
      @include respond-to(tablet) {
        margin-bottom: 0;
       }
    }
    &:last-of-type {
      @include respond-to(desktop) {
        margin-right: 0;
      }
    }
  }
}
#other-partners {
  color: $red;
  font-size: 14px;
  border: 2px solid $red;
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 92%;
  padding: 8px 0;
  @include respond-to(tab&desk) {
    margin-top: 33px;
    max-width: 196px;
   }
}

//discover holiday activity ideas
.discover {
  padding-top: 34px;
  padding-bottom: 40px;
  @include respond-to(tab&desk) {
    padding-top: 96px;
    padding-bottom: 100px;
   }
  &__title {
    font-size: 22px;
    color: $black;
    text-align: center;
    margin-bottom: 13px;
    @include respond-to(tab&desk) {
      margin-bottom: 34px;
     }
  }
  &__newImages {
    margin-top: 25px;
    @include respond-to(tab&desk) {
      margin-top: 75px;
     }
  }
  &__text {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 18px;
    display: block;
    text-align: center;
    margin-top: -5px;
  }
  &__form {
    margin-top: 15px;
    @include respond-to(tab&desk) {
      display: block;
      margin: 37px auto 0;
      max-width: 410px;
     }
  }
  &__tag {
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 40px;
    color: #999;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-indent: 15px;
    @include respond-to(tab&desk) {
      max-width: 240px;
      float: left;
     }
  }
  &__submit {
    outline: none;
    display: block;
    margin: 10px auto 0;
    width: 95%;
    background-color: $red;
    color: #fff;
    border: none;
    border-radius: 25px;
    height: 40px;
    font-size: 13.96px;
    @include respond-to(tab&desk) {
      max-width: 160px;
      margin-top: 0;
      float: right;
     }
  }
}
footer {
  padding-bottom: 40px;
  border-top: 4px solid $red;
  padding-top: 16px;
  @include respond-to(tab&desk) {
    padding-top: 35px;
  }
  @include respond-to(desktop) {
    padding-top: 37px;
  }
}
.footer__title {
  display: block;
  font-size: 16px;
  color: $red;
  text-align: center;
  @include respond-to(tab&desk) {
    float: left;
    margin-left: 30px;
  }
  @include respond-to(desktop) {
    margin-left: 0px;
  }
}
.list {
  margin-top: 12px;
  @include respond-to(tab&desk) {
    float: left;
    margin-top: 0;
    margin-left: 90px;
    margin-right: 14px;
   }
   @include respond-to(desktop) {
     margin-left: 105px;
     margin-right: -13px;
   }
  &__title {
    color: $black;
    display: block;
    text-align: center;
    font-size: 14px;
    @include respond-to(tab&desk) {
      margin-bottom: 12px;
     }
  }
  &__item {
    float: left;
    margin-right: 13px;
    @include respond-to(tab&desk) {
      font-size: 14px;
      float: none;
      margin-bottom: 5px;
     }
    &:first-of-type {
      margin-left: 52px;
      @include respond-to(tab&desk) {
        margin-left: 0px;
       }
    }
  }
  &__link {
    text-decoration: none;
    color: #666;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 14px;
  }
}

.designed {
  margin-top: 15px;
  padding-bottom: 18px;
  @include respond-to(tab&desk) {
    margin-top: 3px;
    max-width: 120px;
    margin-right: 29px;
    float: right;
   }
   @include respond-to(desktop) {
     margin-right: 0px;
   }
  &by {
    display: block;
    font-size: 10px;
    color: #ccc;
    text-align: center;
    letter-spacing: 1.2px;
    @include respond-to(tab&desk) {
      margin-left: 28px;
     }
  }
  img {
    display: block;
    margin: 5px auto 0;
  }
}
