* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: rgb(249,249,249);
}
.container {
  margin: 0 auto;
  padding: 45px;
  width: 77.5%;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.top-menu ul{
  list-style-type: none;
  margin: 40px 0;
  padding: 10px 0 10px 10px;
  background: linear-gradient(to top, #444343, #4a4a4a);
}
.top-menu ul li{
  display: inline-block;
}
.top-menu a{
  text-decoration: none;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
}
.top-menu #active-top {
  background: linear-gradient(to top, #2f2f2f, #4a4a4a);
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
/*SIDEBAR*/
.left-menu {
  width: 240px;
  border: 1px solid gray;
  float: left;
}
.left-menu ul li{
  list-style-type: none;
  font-size: 15px;
  line-height: 40px;
  border-bottom: 1px solid gray;
}
.left-menu ul li a{
  text-decoration: none;
  color: gray;
  margin-left: 20px;
}
.left-menu ul li:last-child{
  border: none;
}
.left-menu ul li #active-left{
  padding-left: 20px;
  font-weight: bold;
}
/*END OF SIDEBAR*/
/*CONTENT*/
.content {
  margin-left: 300px;

}
.content .image{
  border: 1px solid gray;
}
.image img{
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}
p{
  margin: 50px 0;
}
/*end of content*/
/*footer*/
.footer {
  margin: 100px 0;
  background-color: #DADADA;
}
.footer ul{
  list-style-type: none;
  padding: 10px 0 10px 10px;
  float: left;
}
.footer ul li{
  display: inline-block;
  font-size: 15px;
  color: #2f2f2f;
}
.footer span{
display: block;
margin-left: 80%;
padding: 10px 0 10px 10px;
}
.footer a{
  text-decoration: none;
  font-size: 15px;
  color: #2f2f2f;
  padding: 10px 30px;
}
.footer #active-footer {
  text-decoration: underline;
