.left-sidebar {
  display: none;
  position: absolute;
  top: 0;
  left: -452px;
  width: 450px;
  min-height: 150px;
  border: 1px solid $gray;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  background-color: #fff;
  z-index: 0;
}

.left-panel {
  position: absolute;
  width: 12px;
  left: -12px;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  &::before {
    cursor: pointer;
    position: absolute;
    content: '';
    top: 24px;
    left: -6px;
    height: 100px;
    width: 100px;
    background-color: $black;
    transform: rotate(45deg);
    z-index: 0;
  }
  span {
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    display: block;
    margin-top: 64px;
    margin-left: 0.5px;
    color: #fff;
    z-index: 2;
  }
}

.bottom-swipe-panel {
  display: none;
  height: 12px;
  width: 100%;
  position: absolute;
  bottom: -12px;
  overflow: hidden;
  text-align: center;
  &::before {
    content: '';
    height: 100px;
    width: 100px;
    background-color: $black;
    transform: rotate(45deg);
    position: absolute;
    top: -50px;
    left: 38.51%;
  }
  span {
    cursor: default;
    font-size: 11px;
    color: #fff;
    z-index: 3;
    position: relative;
    top:-4px;
  }
  &__prev {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    left: 38%;
    z-index: 1;
    &::before {
      content: '';
      height: 40px;
      width: 40px;
      background-color: $black;
      position: absolute;
      top: -10px;
      left: 24%;
      z-index: 2;
    }
  }
  &__next {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: -20px;
    right: 38%;
    z-index: 1;
    &::before {
      content: '';
      height: 40px;
      width: 40px;
      background-color: $black;
      position: absolute;
      top: 0px;
      right: 24%;
      z-index: 2;
    }
  }
}
