.current-week {
  display: none;
}

.month {
  margin-top: 5px;
  cursor: default;
  &__week {
    width: 97%;
    margin: 3px auto 0;
  }
  &__day {
    position: relative;
    color: $gray;
    border: 1px solid $blue-border;
    border-radius: 2px;
    float: left;
    height: 20px;
    margin-right: 0.7%;
    text-align: center;
    text-transform: lowercase;
    width: 16%;
    background-color: $blue;
    &:hover {
      background-color: $blue-hover;
      border-color: $blue-hover;
    }
    &.today {
      background-color: $green;
      border-color: $green-border;
      &:hover {
        background-color: $green-hover;
        border-color: $green-hover;
      }
    }
  }
  & .weekend {
    margin-right: 1px;
    width: 8%;
    border-color: $red-border;
    background-color: $red;
    &:hover {
      background-color: $red-hover;
      border-color: $red-hover;
    }
  }
  & .other-month {
    background-color: $other-month;
    &.weekend {
      &:hover {
        background-color: $red-hover;
        border-color: $red-hover;
      }
    }
    &:hover {
      background-color: $blue-hover;
      border-color: $blue-hover;
    }
  }
}
