.day-of-week {
  margin-top: 5px;
  cursor: default;
  &__list {
    width: 97%;
    margin: 0 auto;
  }
  &__day {
    color: $gray;
    border: 1px solid $blue-border;
    border-radius: 2px;
    float: left;
    margin-right: 0.7%;
    text-align: center;
    text-transform: lowercase;
    width: 16%;
    background-color: $blue;
  }
  & .weekend {
    margin-right: 1px;
    width: 8%;
    border: 1px solid $red-border;
    background-color: $red;
  }
}

.current-week {
  margin-top: 5px;
  cursor: default;
  &__list {
    width: 97%;
    margin: 0 auto;
  }
  &__day {
    position: relative;
    color: $gray;
    border: 1px solid $blue-border;
    border-radius: 2px;
    float: left;
    height: 112px;
    margin-right: 0.7%;
    text-align: center;
    text-transform: lowercase;
    width: 16%;
    background-color: $blue;
    &:hover {
      background-color: $blue-hover;
      border-color: $blue-hover;
    }
    &.today {
      background-color: $green;
      border-color: $green-border;
      &:hover {
        background-color: $green-hover;
        border-color: $green-hover;
      }
    }
  }
  & .weekend {
    margin-right: 1px;
    width: 8%;
    border-color: $red-border;
    background-color: $red;
    &:hover {
      background-color: $red-hover;
      border-color: $red-hover;
    }
  }
  &__date {
    cursor: default;
    position: absolute;
    display: block;
    font-size: 30px;
    letter-spacing: -3px;
    top: -3px;
    right: 4px;
    color: rgba(163, 163, 163, 0.35);
  }
  &__tasks-title {
    display: block;
    font-size: 12px;
    position: absolute;
    top:25px;
    width: 100%;
    text-align: center;
  }
  &__tasks-value {
    display: block;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
  }
  &__important-title {
    display: block;
    font-size: 12px;
    position: absolute;
    top: 65px;
    width: 100%;
    text-align: center;
  }
  &__important-value {
    display: block;
    font-size: 20px;
    color: #ff7d7d;
    cursor: pointer;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
  }
  & .empty::before {
    display: block;
    padding-top: 30px;
    cursor: pointer;
    font-size: 40px;
    content: '+';
    height: 100%;
    width: 100%;

    opacity: 0;
  }
  & .empty:hover::before {
    opacity: 1;
  }
}
