$gray: #a3a3a3;
$dark-gray: #4e4e4e;
$black: #000;
$blue: #ddfffd;
$blue-border: #a6fff9;
$blue-hover: #a6fff9;
$red: #ffdddd;
$red-border: #ffbaba;
$red-hover: #ffbaba;
$green: #bbffb4;
$green-border: #70ff62;
$green-hover: #84ff78;
$other-month :rgb(222, 222, 222);

@import "reset";
@import "day";
@import "left-sidebar";
@import "week";
@import "month";

body {
  background-color: #eee;
}
