*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida sans unicode', Tahoma, sans-serif;
}
.wrapper{
  height: 1000px;
  margin: 0 auto;
  border: 1px  solid black;
  width: 910px;
  padding: 20px 40px;
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}
/*header*/
.phone-number{
  width: 300px;
  float: left;
  margin-left: 0px;
}
.phone-number span{
  font-family: arial;
  font-size: 18px;
  color: #6d767a;
  letter-spacing: 0.5px;
}
.phone-number img{
  float: left;
  margin: 1px 2px 0 7px;
}
header form{
  background: linear-gradient(to top, #0c3357, #0c3357);
  width: 495px;
  border-radius: 4px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  margin-top: -4px;
  height: 27px;
  float: left;
  position: relative;
}
header form img{
  margin: 5px 0 0 6px;
  float: left;
}
header form input[placeholder]{
  font-size: 11px;
  width: 110px;
  height: 13px;
  text-indent: 3px;
  margin-left: 3px;
}
header input[name="login"]{
/*position: absolute;
top: 5px;
left: 24px;*/
text-indent: 3px;
}
header form input[type="submit"]{
  background: rgba(255, 0, 0, 0);
  border: none;
  font-size: 11px;
  color: #fff;
  margin-left: 2px;
}
.registration{
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  border-left: 1px solid white;
  padding-left: 3px;
  letter-spacing: -0.2px;
}
.forgoten{
  font-size: 12px;
  margin-left: 16px;
  color: #bfbfbf;
}
header nav {
  border: 1px solid #c1c8cb;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 77px;
  float: left;
  margin-left: 14px;
  height: 17px;
}
header nav a{
  padding-left: 9px;
  display: block;
  height: 10px;
  float: left;
}
header nav a img{
  float: left;
  margin-top: 20%;
}
header nav a:last-child img{
  margin-top: 31%;
}
/*end of header*/
.logo{
  display: block;
  max-height: 240px;
  max-width: 910px;
  width: 100%;
  margin: 10px 0 5px 0;
}
/*nav menu*/
.wrapper>nav{
  height: 33px;
  background: linear-gradient(to top, #010101, #4d5663);
  border: 1px solid #2c345a;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}
.wrapper>nav ul{
  list-style: none;
  margin-left: 125px;
}
.wrapper>nav li{
  float: left;
  text-transform: uppercase;
  margin-top: 2px;
  padding: 2px 11px 2px 15px;
}
.wrapper>nav li:nth-child(2) {
  padding: 2px 15px 2px 21px;
}
.wrapper>nav li:nth-child(3) {
  padding: 2px 14px 2px 14px;
}
.wrapper>nav li:nth-child(4) {
  padding: 2px 14px 2px 14px;
}
.wrapper>nav li:nth-child(5) {
  padding: 2px 14px 2px 11px;
}
.wrapper>nav a{
  font-size: 14px;
  text-decoration: none;
  color: #b1bcc0;
}
.wrapper>nav .active {
  background: linear-gradient(to top, #0c3357, #1f6787);
  border-radius: 15px;
}
.basket {
  width: 226px;
  float: right;
  margin-top: 6px;
}
.basket span{
  float: left;
  display: block;
  font-family: arial;
  font-size: 11px;
  margin-top: 3px;
  }
.basket img{
  float: left;
  display: block;
}
.basket .goods{
  margin-left: 8px;
}
.basket .quantity{
  margin-left: 4px;
  font-size: 12px;
  color: #0d5a8f;
}
.basket .summ{
  margin-left: 15px;
}
.basket .price{
  width: 37px;
  text-align: right;
  font-size: 12px;
  color: #0d5a8f;
}
.basket .uah{
  margin-left: 6px;
  font-size: 12px;
  color: #0d5a8f;
}
/*end of menu*/
/*poisk*/
.find{
  margin-top: 10px;
}
.find .auto {
  font-family: Arial;
  height: 134px;
  width: 413px;
  border: 1px solid gray;
  border-radius: 20px;
  margin-left: 4px;
  position: relative;
}
.find .auto>span {
  display: block;
  font-size: 10px;
  line-height: 10px;
  /*position: absolute;*/
}
.find .auto>span>span {
  font-size: 9px;
  color: gray;
}
.find .auto .head {
  font-family: arial;
  font-weight: 900;
  font-size: 12px;
  color: #154467;
  position: absolute;
  top: 0px;
  left: 135px;
}
.find .auto .disc {
  font-family: arial;
  font-weight: 900;
  font-size: 10px;
  color: #154467;
  position: absolute;
  top: 0px;
  left: 20px;
}
.find .auto .tire {
  font-family: arial;
  font-weight: 900;
  font-size: 10px;
  color: #154467;
  position: absolute;
  top: 1px;
  left: 355px;
}
