<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDo Calendar</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.0.0.min.js" charset="utf-8"></script>
    <script src="js/jquery-ui.min.js" charset="utf-8"></script>
    <script src="js/lodash.js" charset="utf-8"></script>
    <script src="js/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="day">
        <span class="day__day-of-week"></span>
        <span class="day__date"></span>
        <span class="day__month"></span>

        <div class="left-panel-wrapper">
          <div class="day__left-panel"><span>&#9668</span></div>
        </div>

        <div class="bottom-panel-wrapper">
          <div class="day__bottom-panel"><span>&#9660</span></div>
        </div>

        <div class="left-sidebar">
          <div class="left-panel"><span>&#9733</span></div>
          <div class="bottom-swipe-panel"><span>июнь</span>
            <div class="bottom-swipe-panel__prev"></div>
            <div class="bottom-swipe-panel__next"></div>
          </div>
          <div class="day-of-week">
            <ul class="day-of-week__list clearfix">
              <li class="day-of-week__day">ПН</li>
              <li class="day-of-week__day">ВТ</li>
              <li class="day-of-week__day">СР</li>
              <li class="day-of-week__day">ЧТ</li>
              <li class="day-of-week__day">ПТ</li>
              <li class="day-of-week__day weekend">СБ</li>
              <li class="day-of-week__day weekend">ВС</li>
            </ul>
          </div>
          <div class="current-week">
            <ul class="current-week__list">
              <li class="current-week__day empty" data-day-index="1">
                <span class="current-week__date">13</span>
                <span class="current-week__tasks-title"></span>
                <span class="current-week__tasks-value"></span>
                <span class="current-week__important-title"></span>
                <span class="current-week__important-value"></span>
              </li>

              <li class="current-week__day empty" data-day-index="2">
                <span class="current-week__date">14</span>
                <span class="current-week__tasks-title"></span>
                <span class="current-week__tasks-value"></span>
                <span class="current-week__important-title"></span>
                <span class="current-week__important-value"></span>
              </li>

              <li class="current-week__day empty" data-day-index="3">
                <span class="current-week__date">15</span>
                <span class="current-week__tasks-title"></span>
                <span class="current-week__tasks-value"></span>
                <span class="current-week__important-title"></span>
                <span class="current-week__important-value"></span>
              </li>

              <li class="current-week__day today" data-day-index="4">
                <span class="current-week__date">16</span>
                <span class="current-week__tasks-title">Задачи</span>
                <span class="current-week__tasks-value">12</span>
                <span class="current-week__important-title">Важные</span>
                <span class="current-week__important-value">10</span>
              </li>

              <li class="current-week__day" data-day-index="5">
                <span class="current-week__date">17</span>
                <span class="current-week__tasks-title">Задачи</span>
                <span class="current-week__tasks-value">22</span>
                <span class="current-week__important-title">Важные</span>
                <span class="current-week__important-value">20</span>
              </li>

              <li class="current-week__day empty weekend" data-day-index="6">
                <span class="current-week__date">18</span>
                <span class="current-week__tasks-value"></span>
                <span class="current-week__important-value"></span>
              </li>

              <li class="current-week__day weekend" data-day-index="0">
                <span class="current-week__date">19</span>
                <span class="current-week__tasks-value">15</span>
                <span class="current-week__important-value">10</span>
              </li>
            </ul>
          </div>

          <div class="month">
            <script type="text/template" id="weeks">
              <% for (var week = 0; week < 5 ; week++) { %>
                <ul class="month__week clearfix">
                  <% for (var wday = 1; wday <=7; wday++) { %>
                    <li class="<%= day[wday + week * 7].currentClass %>" data-day="<%= day[wday + week * 7].fullDate %>"><span class="month__date"><%= day[wday + week * 7].fullDate.getDate() %></span></li>
                    <% }; %>
                  </ul>
                  <% }; %>
                </script>


              </div>

            </div>

      </div>


      <div class="todo">

      </div>
    </div>





  </body>
</html>
