* {
  margin: 0;
  padding: 0;
}
.container {
  margin: 3% auto;
  width: 470px;
}
table {
border-collapse: collapse;
}
td{
  border: 10px solid black;
  padding: 30px;

}
/*perimetr no border*/
.c1{
  border-left: none;
}
.r1 td{
  border-top: none;
}
.r7 td, .r5>.c1, .r6>.c1{
  border-bottom: none;
}
.r1>.c3, .r2>.c3, .r3>.c3, .r4>.c4, .r5>.c5, .r6>.c3, .r7>.c1 {
  border-right: none;
}
/*!*/
/*colors*/
.r1>.c3, .r2>.c3, .r5>.c1{
  background-color: #ffed5d;
}
.r4>.c1, .r4>.c2, .r5>.c2, .r5>.c3, .r5>.c2, .r6>.c3{
  background-color: #3d3d3d;
}
.r5>.c5{
  background-color: #064581;
}
.r2>.c2{
  background-color: #ff6234;
}
/*!*/
/*size*/
.r6 td{
  padding-top: 15px;
  padding-bottom: 15px;
}
.r5>.c4{
  padding-left: 60px;
  padding-right: 60px;
}
.r2 td, .r3 td{
  padding-top: 65px;
  padding-bottom: 65px;
}
.r3>.c2, .r3>.c3 {
  padding-left: 40px;
  padding-right: 40px;
}
.r7 td{
  padding-top: 15px;
  padding-bottom: 15px;
}
.r1 td{
  padding-top: 23px;
  padding-bottom: 23px;
}
