<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Собственный плагин + Шаблонизатор</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/myCarousel.css">

  <script src="https://code.jquery.com/jquery-2.2.3.min.js" charset="utf-8"></script>
  <script src="js/template.js"></script>
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.myCarousel.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="myCarousel">
      <ul class="myCarousel-list">
        <li class="myCarousel-element">
          <img src="http://tel.by/uploads/posts/2012-03/1331819816_apple_tech.jpg" alt="">
          <p>Описание 1</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://tel.by/uploads/posts/2012-03/1331819765_bat_design.jpg" alt="">
          <p>Описание 2</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://tel.by/uploads/posts/2012-03/1331819834_batman_dark.jpg" alt="">
          <p>Описание 3</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://tel.by/uploads/posts/2012-03/1331819767_city_lights.jpg" alt="">
          <p>Описание 4</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://tel.by/uploads/posts/2012-03/1331819804_colors.jpg" alt="">
          <p>Описание 5</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Gone_Nuclear.jpg" alt="">
          <p>Описание 6</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Biohazard.jpg" alt="">
          <p>Описание 7</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Looneytunes.jpg" alt="">
          <p>Описание 8</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Blue_Abstract.jpg" alt="">
          <p>Описание 9</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Zenvo_St1.jpg" alt="">
          <p>Описание 10</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Eat_Them_Up.jpg" alt="">
          <p>Описание 11</p>
        </li>
        <li class="myCarousel-element">
          <img src="http://www.smartphoneforums.com/wallpaper/data/505/320x240-Halloweenjack.jpg" alt="">
          <p>Описание 12</p>
        </li>
      </ul>
      <div class="myCarousel-prev">‹</div>
      <div class="myCarousel-next">›</div>
    </div>

    <script type="text/template" id="test">
      <div class="mainbox">
        <h1><%= name %></h1>
          <div class="photo">
              <img src= <%= photoURL %> alt="My Photo" />
          </div>
          <p><%= profession %></p>
        <hr>
          <p>Хочу учить фронтэнд, потому что:</p>
          <ul>
            <li><%= reason1 %></li>
            <li><%= reason2 %></li>
            <li><%= reason3 %></li>
          </ul>
        <hr>
        <p>Мой контактный телефон <br><%= telephone %></p>
        <p></p>
        <p>Мой профиль вконтакте<br>
          <a href= <%= profileURL %> target="_blank">VK</a>
        </p>
      </div>
    </script>
  </div>
</body>
</html>
